@import './foundational/foundational.module';

.navigation {
  background: $bg-black;
  max-height: 60px;
  display: flex;
  align-items: center;

  .link {
    padding: 12px;
    font-family: Luminari, fantasy;
    font-size: 20px;
    color: $bg-white;
    text-transform: capitalize;
    margin-left: 20px;


    &:first-child {
      margin-left: 50px
    }

    &:hover {
      cursor: pointer;
    }

    &:active, &:hover {
      background: $bg-hover-white;
    }
  }
}